.contentM {
  width: 275%;
  background: #fff;
  margin-top: 30px;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
}

.contentM > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contentM button.btn {
  border: 0;
  border-radius: 2px;
  width: 25%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f34545;
  color: #fff;
  cursor: pointer;
}

.contentM button.btn:hover {
  background: #1b405e;
}

.contentM table {
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  margin-bottom: 50px;
}

.contentM table thead th#aluno {
  border: 2px solid #1b405e;
  min-width: 700px;
  height: 20px;
  border-left-width: 0;
}
.contentM table thead th#matricula,
th#presenças,
th#faltas {
  border: 2px solid #1b405e;
  min-width: 150px;
  height: 20px;
  border-left-width: 0;
}
.contentM table thead th#aluno:first-child {
  border-left-width: 1px;
}

.contentM table tr#presentes td {
  background: #028b40;
  color: white;
}

.contentM table tr#faltantes td {
  background: #c41d1d;
  color: white;
}
